 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles

$tufts_blue: HSLA(210, 53%, 51%, 1);
$anti_white: HSLA(0, 0%, 96%, 1);
$athens_gray: HSLA(0, 0%, 87%, 1);

@mixin head-foot {
  width: 100%;
  padding-left: 200px;
  padding-right: 200px;
  overflow: auto;
  font-size: 12px;
}

@mixin foot_left_right {
  display: inline-block;
  width: 400px;
  margin-top: 25px;
  font-size: 13px;
}

@mixin footer_list{
  display: inline-block;
  list-style: none;
  color: $tufts_blue;
}

@mixin sidebar_style {
  line-height: 22px;
  font-size: 28px;
  font-weight: bold;
  color: $tufts_blue;
}

@mixin sidebar_after {
  display: block;
  font-size: 12px;
  color: HSLA(15, 6%, 62%, 1);
}


body {
  font-family: 'Segoe UI', sans-serif;
}

header {
  @include head-foot;
  height: 70px;
  overflow: auto;
  background-color: $anti_white;
}

.header_left {
    display: inline-block;
    float: left;
    width: 420px;
    margin-top: 23px;
    margin-left: 6px;
}

.header_left input {
  width: 360px;
  height: 30px;
  margin-top: 8px;
  border-radius: 3px;
  vertical-align: middle;
}

.mega-octicon {
  margin-top: 5px;
  margin-right: 7px;
  margin-left: 9px;
  font-size: 28px;
  vertical-align: middle;
}

.header_center {
  display: inline-block;
  width: 300px;
  margin-top: 27px;
}

.header_center ul {
  padding-left: 10px;
}

.header_center ul li{
  display: inline-block;
  margin-right: 14px;
  font-weight: bold;
  list-style:none;
}

.header_center ul li:hover{
  color: $tufts_blue;
}

.header_right{
  display:inline-block;
  width: 110px;
  height: 60px;
}

.header_image {
  padding-left: 50px;
}

.header_image img {
  display: inline-block;
  width: 22px;
  border-radius: 2px;
  margin-right: 4px;
  vertical-align: middle;
}

.header_image p{
  display: inline-block;
  width: 30px;
  font-size: 12px;
  font-weight: bold;
}

.header_image p:hover{
  color: $tufts_blue;
}

.octicon ul {
  padding-left: 30px;
}

.octicon ul li{
  display: inline-block;
  margin-right: 14px;
}

.octicon ul li:hover{
  color: $tufts_blue;
}

//Sidebar Styling
.sidebar {
  float: left;
  width: 230px;
  height: 664px;
  margin-top: 25px;
  margin-left: 215px;
  list-style: none;
}

.sidebar_top img {
  width: 230px;
  border-radius: 5px;
}

.sidebar_top h1 {
  margin-bottom: 0px;
  margin-top: 5px;
  font-size: 26px;
  line-height: 25px;
}

.sidebar_top h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 20px;
  font-weight: 300;
}

.join {
  height: 56px;
  padding-top: 15px;
  margin-top: 11px;
  border-top: 1px solid $athens_gray;
  border-bottom: 1px solid $athens_gray;
  font-size: 14px;
}

.sidebar_middle {
  height: 58px;
  border-bottom: 1px solid $athens_gray;
}

.sidebar_middle li {
  display: inline-block;
  width: 60px;
  margin-left: 9px;
  margin-right: 7px;
  text-align: center;
  list-style: none;
}

.followers {
  @include sidebar_style;
  float: left;
}

.followers:after{
  content:"Followers";
  @include sidebar_after;
}

.stars {
  @include sidebar_style;
}

.stars:after {
  content:"Starred";
  @include sidebar_after
}

.following {
  @include sidebar_style;
  float: right;
}

.following:after{
  content:"Following";
  @include sidebar_after;
}

.sidebar_bottom h3 {
  margin-bottom: 12px;
}

// top right-side styling
.rightPane {
  float: right;
  width: 974px;
}

.topRight {
  width: 750px;
  height: 46px;
  margin-top: 15px;
  font-size: 14px;
  border-bottom: 1px solid $athens_gray;
}

.tr_left {
  float: left;
  width: 476px;
  list-style: none;
}

.tr_left ul {
  padding-left: 13px;
  margin-top: 20px;
}

.tr_left ul li{
  display: inline-block;
  margin-right: 25px;
}

.tr_right {
  width: 260px;
  float: right;
}

.tr_right button {
  width: 105px;
  height: 25px;
  border: 1px solid $athens_gray;
  margin-top: 10px;
  margin-left: 133px;
  font-size: 13px;
  font-weight: bold;
  background-color: $anti_white;
  border-radius: 3px;
}

.tr_right button:hover{
  background-color: $athens_gray;
}

//middle right styling

.middleRight{
  width: 750px;
  height: 60px;
  border-bottom: 1px solid $athens_gray;
  font-size: 14px;
}

.mr_left{
  float: left;
  width: 340px;
}

.mr_left input {
  width: 260px;
  height: 32px;
  margin-top: 11px;
  border-radius: 4px;
  color: HSLA(0, 0%, 66%, 1);
}

.mr_left button {
  width: 70px;
  height: 33px;
  padding-bottom: 1px;
  border: none;
  font-size: 13px;
  font-weight: bold;
  background-color: $anti_white;
  border-radius: 3px;
}

.mr_left button:hover{
  background-color: $athens_gray;
}

.mr_right {
  float: right;
}

.mr_right ul{
  float: right;
  width: 388px;
  padding-left: 0px;
  margin-top: 10px;
  font-size: 14px;
  list-style: none;
}

.mr_right ul li{
  display: inline-block;
  margin-left: 6px;
  color: $tufts_blue;

  .all {
    color: black;
  }
}

.mr_right ul li:hover {
    text-decoration: underline;
}

.mr_right button {
  width: 68px;
  height: 32px;
  padding-bottom: 1px;
  border: none;
  margin-left: 8px;
  font-size: 14px;
  background-color: hsla(104, 57%, 62%, 1);
  color: white;
  border-radius: 3px;
}

//repo styling
.box {
  width: 750px;
  height: 138px;
  border-bottom: 1px solid $athens_gray;
}

.leftBox {
    float: left;
    width: 550px;
    height: 134px;
}

.leftBox h3 {
    width: 200px;
    margin-top: 24px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 21px;
    font-weight: bold;
    color: $tufts_blue;
}

.leftBox h3:hover {
    text-decoration: underline;
}

.leftBox ul {
    padding-left: 0px;
    margin-top: 0px;
    list-style: none;
}

.leftBox ul li {
    padding-top: 0px;
    padding-bottom: 10px;
    line-height: 18px;
    font-size: 14px;
    color: HSLA(0, 0%, 53%, 1);
}

.rightBox {
    float: right;
    width: 200px;
    height: 134px;
    font-size: 13px;
    list-style: none;
}

.rightBox:after{
  font-size: 13px;
}

.rightBox ul{
  margin-top: 33px;
}

.rightBox ul li{
  display: inline-block;
  float: right;
  margin-right:15px;
  color: HSLA(0, 0%, 53%, 1);
}

.rightBox ul li span{
  font-size: 14px;
  font-weight: bold;
  color: HSLA(0, 0%, 53%, 1);
}

//Footer

footer {
  @include head-foot;
  height: 100px;
}

.overall_f {
  display: inline-block;
  width: 1018px;
  height: 100px;
  border-top: 1px solid $athens_gray;
}

.footer_left {
  @include foot_left_right;
  float: left;
}

.footer_left ul {
  padding-left: 0px;
}

.footer_left ul li {
  @include footer_list;
  float: left;
  margin-right: 15px;

  .copy {
    color: HSLA(0, 0%, 48%, 1);
  }

}

.footer_center {
  display: inline-block;
  width: 100px;
  margin-top: 25px;
  margin-left: 70px;
  text-align: center;
}

.footer_center .octicon {
  font-size: 25px;
  color: $athens_gray;
}

.footer_right {
  @include foot_left_right;
  float: right;
}

.footer_right ul li{
  @include footer_list;
  float: right;
  margin-left: 16px;
}




//*{border:solid;}
