<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>repository</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="styles/vendor.css">

    <link rel="stylesheet" href="styles/main.css">

    <script src="scripts/vendor/modernizr.js"></script>
  </head>
  <body>
<!-- Header-->
    <header>
      <div class="header_left">
        <span class="mega-octicon octicon-mark-github"></span>
        <input type="text" Value="Search GitHub">
      </div>

      <div class="header_center">
        <ul>
          <li>Explore</li>
          <li>Gist</li>
          <li>Blog</li>
          <li>Help</li>
        </ul>
      </div>

      <div class="header_right">
        <div class="header_image">
        </div>
      </div>

      <div class="octicon">
        <ul>
          <li><span class="octicon octicon-plus" style="font-size:18px" ></span>
          <span class="octicon octicon-arrow-small-down" style="font-size:18px"></span></li>
          <li><span class="octicon octicon-inbox" style="font-size:18px"></span></li>
          <li><span class="octicon octicon-gear" style="font-size:18px"></span></li>
          <li><span class="octicon octicon-sign-out" style="font-size:18px"></span></li>
        </ul>
      </div>
    </header>

  <!-- Sidebar -->
      <section>
        <div class="sidebar">
          <div class="sidebar_top">
          </div>
          <div class="sidebar_middle">
          </div>
          <div class="sidebar_bottom">
            <h3>Organizations</h3>
          </div>
        </div>

  <!-- Right side of Main Section -->

        <div class="rightPane">
          <div class="topRight">
            <div class="tr_left">
              <ul>
                <li><span class="octicon octicon-diff-added"></span>  Contributions</li>
                <li><span class="octicon octicon-repo"></span>  Repositories</li>
                <li><span class="octicon octicon-rss"></span>  Public Activity</li>
              </ul>
            </div>

            <div class="tr_right">
               <button type="button"><span class="octicon octicon-pencil"></span>  Edit Profile</button>
            </div>
          </div>

          <div class="middleRight">
            <div class="mr_left">
              <input type="text" Value="Find a repository...">
              <button type="button">Search</button>
            </div>

            <div class="mr_right">
              <ul>
                <li>All</li>
                <li>Public</li>
                <li>Private</li>
                <li>Sources</li>
                <li>Forks</li>
                <li>Mirrors</li>
                <li><button type="button"><span class="octicon octicon-repo"></span>   New</button></li>
              </ul>
            </div>
          </div>

          <div class="repo_info">
          </div>
        </div>
    </section>

    <footer>
      <div class="overall_f">
        <div class="footer_left">
          <ul>
            <li>2014 GitHub Inc.</li>
            <li>Terms</li>
            <li>Privacy</li>
            <li>Security<li>
            <li>Contact</li>
          </ul>
        </div>

        <div class="footer_center">
          <p><span class="octicon octicon-mark-github"></span></p>
        </div>
        <div class="footer_right">
          <ul>
            <li>About</li>
            <li>Blog</li>
            <li>Shop</li>
            <li>Training</li>
            <li>API<li>
            <li>Status</li>
          </ul>
        </div>
      </div>
    </footer>

<!-- All templates below -->
<!-- Header Template -->
        <script id ="header_template" type="text/template">
        <img src=" <%= avatar_url%> "/>
        <p><%= login %></p>
        </script>

<!-- Sidebar Template -->
<!-- Sidebar top -->
        <script id="user_top_template" type="text/template">
         <img src=" <%= avatar_url%>"/>
         <h1><%= name %></h1>
         <h2><%= login %></h2>
         <p class="join"> <span class="octicon octicon-clock"></span> Joined on <%= created_at %></p>
        </script>

<!-- Sidebar middle -->
        <script id="user_middle_template1" type="text/template">
         <li class="followers"><%= followers %></li>
        </script>

        <script id="user_middle_template2" type="text/template">
          <li class="stars"><%= stargazers_count %></li>
        </script>

        <script id="user_middle_template3" type="text/template">
         <li class="following"><%= following %></li>
       </script>


<!-- Sidebar bottom -->
        <script id="user_bottom_template" type="text/template">
        <img src=" <%= avatar_url%>" style="width:30px"/>
        </script>


<!-- Repo Template -->
         <script id="repo_template" type="text/template">
         <div class="box">
            <div class="leftBox">
              <h3><%= name %></h3>
                <ul>
                  <li><%= description %></li>
                  <li>Updated <%= updated_at %></li>
                </ul>
            </div>
            <div class="rightBox">
              <ul>
              <li><span class="octicon octicon-git-branch"></li>
              <li></span> <%= forks_count %></li>
              <li><span class="octicon octicon-star"></span> <%= stargazers_count %></li>
              <li><%= language %></li>
              </ul>
            </div>
          </div>
       </script>

    <script src="scripts/vendor.js"></script>
        <script src="scripts/token.js"></script>
        <script src="scripts/main.js"></script>
</body>
</html>
