<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>repository</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="bower_components/octicons/octicons/octicons.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>

    <header>

    </header>

    <section>
      <div class = "sidebar">
          <p></p>
          <h1></h1>
          <h2></h2>
          <p></p>
          <ul></ul>
          <p></p>
      </div>

      <div class = "rightPane">
        <div class = "box">
          <div class ="leftBox">
            <p></p>
            <ul></ul>
          </div>

          <div class = "rightBox">
            <ul></ul>
          </div>
        </div>
      </div>

      <script id ="user_template" type="text/template">
     <p><%= avatar_url %></p>
     <h1><%= name %></h1>
     <h2><%= login %></h2>
     <p> <span class="octicon octicon-clock"></span> Joined on <%= created_at %></p>
     <li><%= followers %> Followers</li>
     <li>0 Starred</li>
     <li><%= following %> Following<li>
     </script>


     <script id ="repo_template" type="text/template">
    <p><%= name %></p>
    <li><%= description %></li>
    <li>Updated <%= updated_at %></li>
    <li><%= language %></li>
    <li><span class="octicon octicon-star"></span> <%= stargazers_count %></li>
    <li><span class="octicon octicon-git-branch"></span> <%= forks_count %></li>
    </script>

    </section>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js scripts/main.js -->
        <script src="scripts/git-user-api.js"></script>
        <script src="scripts/git-repo-api.js"></script>
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
