<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>repository</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="bower_components/octicons/octicons/octicons.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>

    <header>Top of the page</header>

    <section>
      <div class = "sidebar">Sidebar
          <ul></ul>
      </div>

      <div class = "rightPane">Right Pane
        <div class = "box">
          <div class = "rightBox">
            <h3></h3>
            <ul></ul>
          </div>

          <div class = "leftBox">
            <ul></ul>
          </div>
        </div>
      </div>

      <script id ="user_template" type="text/template">
     <li><%= avatar_url %></li>
     <li><%= name %></li>
     <li><%= login %></li>
     <li><%= created_at %></li>
     <li><%= followers %></li>
     <li><%= starred_url %></li>
     <li><%= following %><li>
     <li><%= organizations_url %></li>
     </script>


     <script id ="repo_template" type="text/template">
    <h3><%= name %></h3>
    <li><%= description %></li>
    <li><%= updated_at %></li>
    <li><%= language %></li>
    <li><%= stargazers_count %></li>
    <li><%= forks_count %></li>
    </script>

    </section>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js scripts/main.js -->
        <script src="scripts/git-user-api.js"></script>
        <script src="scripts/git-repo-api.js"></script>
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
